section {
  /* header 작업 전까지 임시값 */
  padding: 6rem 0;
  min-height: calc(100dvh - 7rem - 7.2rem);
}

.wrap {
  padding: 0 1.6rem;
}

/* menu */

/* btn */
button {
  border-radius: 8px;
  padding: 0.6rem 2rem;
}

.active-btn {
  background-color: var(--btn-active-bg);
  color: var(--text-inverse);
}

.neutral-btn {
  background-color: var(--btn-neutral-bg);
  color: var(--text-main);
}

/* utility */
.icon-box {
  line-height: 0;
}

.ellipsis-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ellipsis-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
