/* font import */
/* logo and title */
@font-face {
  font-family: "Cafe24SuperMagic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Regular-v1.0.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Cafe24SuperMagic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

/* body */
@font-face {
  font-family: "IbmPlexSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-ExtraLight.woff")
    format("woff");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "IbmPlexSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Light.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "IbmPlexSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IbmPlexSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Medium.woff")
    format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "IbmPlexSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-SemiBold.woff")
    format("woff");
  font-weight: 600;
  font-display: swap;
}

/* google design guide */

/* HTML Setting */
html {
  font-size: 62.5%; /* 1rem = 10px */
}

/* token */

:root {
  /* font */
  /* family */
  --font-family-logo: "Cafe24SuperMagic", sans-serif;
  --font-family-body: "IbmPlexSans", system-ui, sans-serif;

  /* size */
  --font-size-title: 2rem;
  --font-size-body: 1.6rem;
  --font-size-long: 1.5rem;
  --font-size-sub: 1.4rem;

  /* color */
  --color-brand: #a90101;

  /* background */
  --bg-canvas: #fbfbfb;
  --bg-default: #f6f4f0;
  --bg-surface: #faeddb;
  --bg-elevated: #fafafa;

  /* text */
  --text-main: #2d2f35;
  --text-sub: #474a53;
  --text-inverse: #f6f4f0;

  /* button */
  --btn-active-bg: #1f3059;
  --btn-neutral-bg: #fafafa;

  /* chip */
  --chip-warning-bg: #f0baba;
  --chip-default-bg: #dadee6;
  --chip-important-bg: #faa160;

  /* system */
  --error: #d64545;
  --success: #35974f;
}

body {
  font-size: var(--font-size-body);
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family:
    "IbmPlexSans",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    sans-serif;
  background-color: var(--bg-canvas);
  color: var(--text-main);
}

/* font setting */

.logo {
  font-family: var(--font-family-logo);
  font-size: 3.4rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  color: var(--color-brand);
}

.page-title {
  font-family: var(--font-family-logo);
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.title {
  font-family: var(--font-family-logo);
  font-size: var(--font-size-title);
  font-weight: 400;
  letter-spacing: -0.04em;
}

.long-text {
  font-size: var(--font-size-long);
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: -0.02em;
}

.sub-text {
  font-size: var(--font-size-sub);
  font-weight: 300;
  line-height: 1.2;
}

/* dark version */

@media (prefers-color-scheme: dark) {
  :root {
    /* color */
    /* background */
    --bg-canvas: #272727;
    --bg-default: #1e1e20;
    --bg-surface: #4f5560;
    --bg-elevated: #3d3e41;

    /* text */
    --text-main: #f6f4f0;
    --text-sub: #faeddb;
    --text-inverse: #2d2f35;

    /* button */
    --btn-active-bg: #faa160;

    /* chip */
    --chip-important-bg: #a87ac2;
  }
}
